DATABASE_URL=postgresql://uptube:uptube@db:5432/uptube?schema=public
PORT=3000
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info
NODE_ENV=development

JWT_SECRET=dummy
JWT_ADMIN_SECRET=dummy
JWT_ENCRYPTION_KEY=dummy
QUERY_PUBLIC_KEY=dummy
QUERY_PRIVATE_KEY=dummy