@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 65% 98%;
    --foreground: 10 63% 5%;
    --muted: 10 33% 92%;
    --muted-foreground: 10 9% 30%;
    --popover: 10 65% 98%;
    --popover-foreground: 10 63% 5%;
    --card: 10 65% 97%;
    --card-foreground: 10 63% 4%;
    --border: 10 6% 93%;
    --input: 10 6% 93%;
    --primary: 10 49% 85%;
    --primary-foreground: 10 49% 25%;
    --secondary: 10 13% 84%;
    --secondary-foreground: 10 13% 24%;
    --accent: 10 18% 75%;
    --accent-foreground: 10 18% 15%;
    --destructive: 17 84% 30%;
    --destructive-foreground: 17 84% 90%;
    --ring: 10 49% 85%;
    --chart-1: 10 49% 85%;
    --chart-2: 10 13% 84%;
    --chart-3: 10 18% 75%;
    --chart-4: 10 13% 87%;
    --chart-5: 10 52% 85%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 10 33% 2%;
    --foreground: 10 16% 97%;
    --muted: 10 33% 8%;
    --muted-foreground: 10 9% 70%;
    --popover: 10 33% 2%;
    --popover-foreground: 10 16% 97%;
    --card: 10 33% 3%;
    --card-foreground: 10 16% 98%;
    --border: 10 6% 15%;
    --input: 10 6% 15%;
    --primary: 10 49% 85%;
    --primary-foreground: 10 49% 25%;
    --secondary: 10 14% 9%;
    --secondary-foreground: 10 14% 69%;
    --accent: 10 24% 19%;
    --accent-foreground: 10 24% 79%;
    --destructive: 17 84% 55%;
    --destructive-foreground: 0 0% 0%;
    --ring: 10 49% 85%;
    --chart-1: 10 49% 85%;
    --chart-2: 10 14% 9%;
    --chart-3: 10 24% 19%;
    --chart-4: 10 14% 12%;
    --chart-5: 10 52% 85%;
  }
}
